/* Root variables for colors and fonts */
:root {
    --primary-color: #2a607c;
    --secondary-color: #0072bb;
    --text-color: #ffffff;
    --background-color: #d9dcd6;
    --font-family-header: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --font-family-body: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--background-color);
}

/* Header styling */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: var(--font-family-header);
    background-color: var(--primary-color);
    color: var(--text-color);
}

.header h1 {
    font-size: 48px;
}

/* Color for SEO text in the header */
.header h1 .seo {
    color: var(--background-color);
}

.header nav ul {
    display: flex;
    list-style: none;
}

/* Margin for navigation list items */
.header nav ul li {
    margin-left: 25px;
}

/* Link styling */
a {
    color: var(--text-color);
    text-decoration: none;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Common styles for service sections */
.service {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: var(--font-family-body);
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.service img {
    max-height: 200px;
}

.service h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: var(--font-family-body);
    background-color: #2589bd;
}

.benefit-lead,
.benefit-brand,
.benefit-cost {
    margin-bottom: 32px;
    color: var(--text-color);
}

.benefit-lead h3,
.benefit-brand h3,
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img,
.benefit-brand img,
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: var(--font-family-header);
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
